<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dojo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPost</display-name>
    <servlet-name>LoginPost</servlet-name>
    <servlet-class>com.henry.servlet.LoginPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPost</servlet-name>
    <url-pattern>/LoginPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginJson</display-name>
    <servlet-name>LoginJson</servlet-name>
    <servlet-class>com.henry.servlet.LoginJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginJson</servlet-name>
    <url-pattern>/LoginJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreJson</display-name>
    <servlet-name>StoreJson</servlet-name>
    <servlet-class>com.henry.servlet.StoreJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreJson</servlet-name>
    <url-pattern>/StoreJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mvc</display-name>
    <servlet-name>Mvc</servlet-name>
    <servlet-class>com.henry.servlet.Mvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mvc</servlet-name>
    <url-pattern>/Mvc/query</url-pattern>
  </servlet-mapping>
</web-app>